//colors
$dark_mode_elements: hsl(209, 23%, 22%);
$dark_mode_background: hsl(207, 26%, 17%);
$dark_mode_text: hsl(0, 0%, 100%);
$light_mode_text: hsl(200, 15%, 8%);
$light_mode_input: hsl(0, 0%, 52%);
$light_mode_background: hsl(0, 0%, 98%);
$light_mode_elements: hsl(0, 0%, 100%);

//box-shadow
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$btn-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
